body {
  color: #626262;
  font-family: 'Playfair Display', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
}

h2 {
  font-size: 30px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.main-nav {
  padding: 77px 0 96px 0;
}

.site-navigation {
  display: inline-block;
  vertical-align: middle;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation a:visited {
  color: #626262;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}

.site-navigation li:first-of-type {
  margin: 0 118px 0 163px;
}

.site-navigation li:nth-child(2) {
  margin-right: 99px;
}

.site-navigation li:nth-child(3) {
  margin-right: 91px;
}

.main-section {
  display: inline-block;
  width: 420px;
  height: 477px;
  overflow: hidden;
  margin-right: 56px;
  margin-bottom: 126px;
}

.main-section:nth-child(2n) {
  margin-right: 0;
}

.main-section-category {
  color: #b4ad9e;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  padding: 25px 0 22px 0;
}

.main-section-heading {
  margin-bottom: 34px;
}
