@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.woff') format('woff'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url('../fonts/Montserrat.woff2') format('woff2');
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserratbold.woff') format('woff'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url('../fonts/montserratbold.woff2') format('woff2');
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerif';
  src: url('../fonts/DroidSerif-Italic.woff') format('woff'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url('../fonts/DroidSerif-Italic.woff2') format('woff2');
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alex Brush';
  src: local('Alex Brush Regular'), local('AlexBrush-Regular'),
    url('../fonts/alex-brush-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/alex-brush-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local(''), url('../fonts/roboto-slab-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-slab-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-style: normal;
  font-weight: 400;
}

:root {
  --accent-color: #fed136;
  --text-color: #777;
  --title-color: #222;
  --font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.2;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: #fff;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.4rem;
  min-height: 7.2rem;
}

.logo__link {
  font-family: 'Alex Brush', sans-serif;
  font-size: 2.6rem;
  color: var(--accent-color);
  margin-right: 2rem;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.navigation__list-item:not(:last-of-type) {
  margin-right: 4rem;
}

.navigation__list-link {
  padding: 1rem 0;
  color: var(--title-color);
  text-transform: uppercase;
  transition: color 200ms ease-in-out;
}

.navigation__list-link:hover,
.navigation__list-link:focus {
  color: var(--accent-color);
}

.section {
  padding: 10.4rem 0 11rem 0;
}

.container__services {
  max-width: 103rem;
}

.title {
  font-family: 'Montserrat-Bold';
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 0.6rem;
  text-align: center;
}

.subtitle {
  font-family: 'DroidSerif', sans-serif;
  font-style: italic;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 8rem;
}

.services__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-about {
  text-align: center;
}

.services__item-about {
  max-width: 33.3%;
  padding: 0 2rem;
}

.item-about__icon {
  margin: 0 auto;
  width: 6.8rem;
  height: 6.8rem;
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  margin-bottom: 2.6rem;
}

.item-about__icon-basket {
  background: url(../images/icons/Icon-Basket.png) center no-repeat;
}

.item-about__icon-pc {
  background: url(../images/icons/Icon-Laptop.png) center no-repeat;
}

.item-about__icon-lock {
  background: url(../images/icons/Icon-Locked.png) center no-repeat;
}

.item-about__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 1rem;
}

.item-about__text {
  font-family: 'Roboto Slab', serif;
  letter-spacing: -0.015rem;
  line-height: 1.6;
}

.contact {
  background: #222 url(../images/Map_Image.png) no-repeat right 10rem top 8rem /
    60rem;
}

.contact-form {
  text-align: center;
}

.contact__title {
  color: #fff;
}

.contact-form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.contact-form__input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 3rem;
}

.contact-form__input {
  width: 100%;
  height: 5rem;
  margin-bottom: 3rem;
  padding-left: 2rem;
  border-radius: 3px;
  font-weight: 700;
}

.contact-form__input:last-child {
  margin-bottom: 0;
}

.contact-form__message {
  width: 50%;
  height: 21rem;
  resize: none;
  padding: 1.6rem 0 0 2rem;
  margin-bottom: 0;
}

.contact-form__input::placeholder,
.contact-form__message::placeholder {
  color: #bbb;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.035rem;
}

.contact-form__input:invalid,
.contact-form__message:invalid {
  outline-color: #ff0000;
}

.contact-form__input:valid,
.contact-form__message:valid {
  outline-color: #00ff00;
}

.contact-form__submit {
  display: inline-block;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2.2rem 4.6rem;
  border-radius: 3px;
  cursor: pointer;
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .navigation__list-item:not(:last-of-type) {
    margin-right: 2rem;
  }

  .services__list {
    justify-content: start;
  }

  .services__item-about {
    max-width: 50%;
    margin-bottom: 2rem;
  }

  .contact {
    background: #222 url(../images/Map_Image.png) no-repeat right 2rem top 12rem /
      52rem;
  }
}

/*  small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navigation {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .navigation__list-item:not(:last-of-type) {
    margin-right: 1.5rem;
  }

  .title {
    font-size: 3rem;
  }

  .contact {
    background: #222 url(../images/Map_Image.png) no-repeat right 2rem top 12rem /
      38rem;
  }

  .contact-form__wrapper {
    flex-direction: column;
    margin-bottom: 0rem;
  }

  .contact-form__input-container {
    width: 100%;
    margin: 0 0 3rem 0;
  }

  .contact-form__message {
    width: 100%;
    height: 15rem;
    margin-bottom: 3rem;
  }

  .contact-form__submit {
    display: inline-block;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2rem;
    border-radius: 3px;
    cursor: pointer;
  }
}

/*  Extra small devices (portrait phones, less than 423px) */
@media (max-width: 422.98px) {
  .navigation__list-item {
    width: 33%;
  }

  .navigation__list-item:not(:last-of-type) {
    margin: 0 0 1rem 0;
  }

  .section {
    padding: 6rem 0 7rem 0;
  }

  .services__item-about {
    max-width: 100%;
  }

  .contact {
    background: #222 url(../images/Map_Image.png) no-repeat right 2rem top 12rem /
      30rem;
  }
}
