.footer {

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 5.4rem;
        border-top: 1px solid #e5e5e5;
    }

    &__link {
        color: $accent2-color;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
    }
}

.input {

    &__email {
        width: 23rem;
        height: 4.2rem;
        border: 1px solid #e7e7e7;
        border-right: none;
        border-radius: 0;
        background-color: #ffffff;
        @include font($main-font, 1.4rem, 400);
        line-height: 1.2;
        outline: none;
        padding-left: 1.2rem;

        &::placeholder {
            @include font($second-font, 1.5rem, 300);
            font-style: italic;
            line-height: 1.6;
        }

        &:focus::placeholder {
            text-indent: 50rem;
            transition: text-indent 500ms ease-in-out;
        }
    }

    &__submit {
        padding: 0 3.2rem;
        border: none;
        border-radius: 0;
        cursor: pointer;
        background-color: $second-color;
        color: #fff;
        @include font($main-font, 1.4rem, 700);
        text-transform: uppercase;
    }
}