//small image background
@media (min-width: 36em) {
    .header {
        background-image: url(../images/bcg/background@0.5x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

//usual image background
@media (min-width: 48em) {
    .header {
        background-image: url(../images/bcg/background-min.jpg);
    }
}

//retina header background
@media (min-width: 62em) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 62em) and (min-resolution: 192dpi) {
    .header {
        background-image: url(../images/bcg/background@2x.jpg);
    }
}

//fixed nav panel
@media (min-width: 48em) {
    .header__container {
        padding-top: 22.8rem;
    }

    .header__overlay::after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        background-color: $accent2-color;
        z-index: 49;
    }

    .nav-wrapper {
        position: fixed;
        top: 22px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1230px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        z-index: 50;
    }


}

//landscape tablets
@media (max-width: 61.94em) {
    .container {
        max-width: 96rem;
    }

    .nav-wrapper {
        margin-bottom: 14rem;
        max-width: 96rem;
    }

    .nav-list-wrapper {
        justify-content: flex-end;
        font-size: 1.6rem;
    }

    .navigation__list {
        margin-right: 3rem;
    }

    .navigation__list-item {
        margin-right: 3rem;
    }

    .navigation-buttons__list {
        max-width: 6.8rem;
    }

    .main-heading {
        font-size: 12rem;
        max-width: 70rem;
    }

    .services__container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .services__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem 2rem;
    }

    .team__text {
        max-width: 80%;
    }
}

//small landscape devices and tablets
@media (max-width: 47.94em) {

    // .container {
    //     width: 54rem;
    // }

    .header__container {
        padding: 0;
    }

    .header__container {
        min-height: 60rem;
    }

    //пробивает марджином фикс шапку, изменен на падинг
    .nav-wrapper {
        margin-bottom: 0;
        padding-bottom: 12rem;
    }


    .navigation {
        position: fixed;
        width: 100%;


        //!plate for the burger menu
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6.5rem;
            background-color: $accent2-color;
            z-index: 2;
        }

        & .nav__plate {
            padding: 1.3rem 1.5rem 0 1.5rem;
        }
    }

    .logo {
        position: relative;
        z-index: 3;
    }

    .nav__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;

        &:hover {
            cursor: pointer;
        }
    }

    .burger__line {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease-in-out;
    }

    .nav__burger::before,
    .nav__burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .nav__burger::before {
        top: 0;
    }

    .nav__burger::after {
        bottom: 0;
    }

    .nav__burger.active .burger__line {
        transform: scale(0);
    }

    .nav__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .nav__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .nav-list-wrapper {
        position: fixed;
        top: -100%;
        left: 0;
        max-width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease-in-out;
        background-color: #e6ae64;
        padding: 9rem 1.5rem 2rem 1.5rem;
        display: block;
    }

    .nav-list-wrapper.active {
        top: 0;
    }

    .navigation__list {
        display: block;
        text-align: center;
        margin-right: 0;

        &-item {
            margin: 0 0 3rem 0;
            font-size: 2rem;
        }
    }

    .navigation-buttons__list {
        display: block;
        max-width: 100%;

        &-item {
            margin-bottom: 3rem;
        }
    }

    .navigation-button,
    .navigation-button .nav-icon {
        width: 3rem;
        height: 3rem;
    }

    .main-heading {
        max-width: 51rem;
        font-size: 9rem;
        margin-bottom: 7rem;

        & .subtitle {
            font-size: 6.2rem;
        }
    }

    .title {
        font-size: 3.4rem;
    }

    .title-line1 {
        font-size: 2.8rem;
    }

    .services__list,
    .team__text,
    .item-card__title {
        font-size: 1.6rem;
    }

    .item-card__text {
        font-size: 1.7rem;
    }

    .services__list {
        row-gap: 5rem;
    }

    .team__container {
        padding-bottom: 6rem;
    }

    .team__text {
        margin-bottom: 5rem;
    }

    .team__list {
        display: block;
        max-width: 32rem;
        margin: 0 auto;
    }

    .item-card:not(:last-child) {
        margin-bottom: 7rem;
    }

    .footer__container {
        flex-direction: column-reverse;
        padding-top: 3rem;
        padding-bottom: 2rem;

        .footer__form {
            margin-bottom: 6rem;
        }
    }
}

//1 column in services for the small landscape
@media (max-width: 40em) {
    .services__list {
        display: block;
        max-width: 36rem;
        margin: 0 auto;

        & .item-about:not(:last-child) {
            margin-bottom: 6rem;
        }
    }
}

//extra small
@media (max-width: 35.94em) {
    .header__container {
        min-height: 56.8rem;
    }

    .nav-wrapper {
        padding-bottom: 17rem;
    }

    .main-heading {
        font-size: 3.8rem;
        margin-bottom: 6rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        & .subtitle {
            font-size: 3.2rem;
        }
    }


    .title {
        font-size: 2.7rem;
    }


    .title-line1 {
        font-size: 2.8rem;
    }

    .title::after {
        margin: 2.4rem auto 4.4rem auto;
    }

    .item-about {
        padding-left: 7rem;
    }

    .item-about:nth-child(n)::before {
        left: 1rem;
    }

    .team__text {
        max-width: 90%;
        text-align: left;
    }

    .footer__form {
        justify-content: center;
    }

    .input__email {
        border: 1px solid #e7e7e7;
        margin-bottom: 1rem;
    }

    .input__submit {
        height: 4.2rem;
    }

    .footer__text {
        text-align: center;
        ;
    }
}