@media (min-width: 75em) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 75em) and (min-resolution: 192dpi) {
    .header {
        background-image: url(../images/bcg/background@2x.jpg);
    }
}

@media (max-width: 61.94em) {
    .container {
        max-width: 96rem;
        border: 1px solid red;
    }

    .nav-wrapper {
        margin-bottom: 14rem;
    }

    .nav-list-wrapper {
        justify-content: flex-end;
        font-size: 1.6rem;
    }

    .navigation__list-item:not(:last-child) {
        margin-right: 3rem;
    }

    .navigation__list-item:last-child {
        margin-right: 3rem;
    }

    .navigation-buttons__list {
        max-width: 6.8rem;
    }

    .main-heading {
        font-size: 12rem;
        max-width: 70rem;
    }

    .services__container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .services__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem 2rem;
    }

    .team__list {
        grid-template-columns: repeat(2, 1fr);
    }
}