.team {

    &__container {
        padding-top: 4rem;
        padding-bottom: 8rem;
    }

    &__title::after {
        margin: 3.6rem auto 3.8rem auto;
    }

    &__text {
        @extend %plain-text;
        max-width: 95.4rem;
        text-align: center;
        margin: 0 auto 9rem auto;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(320px, 1fr));
        column-gap: 2.3%;
        justify-content: center;
    }
}

.item-card {

    &__image-wrapper {
        margin-bottom: 2.6rem;
        position: relative;
        box-shadow: 0 0 $second-color;
        transition: transform 200ms linear,
            box-shadow 200ms linear;
    }

    &__title {
        text-transform: uppercase;
        display: block;
        text-align: center;
        margin-bottom: 0.8rem;
    }

    &__text {
        display: block;
        text-align: center;
        @include font($second-font, 1.5rem, 300);
        font-style: italic;
        line-height: 1.6;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    @include gradient(to bottom, $background-top, $background-bottom);
    transition: visibility 200ms linear, opacity 200ms linear;

    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list-link {
        width: 5.6rem;
        height: 5.6rem;
        opacity: 0;
        background: $accent-color center no-repeat;
        transition: background-color 200ms linear, opacity 200ms linear;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .social-icon {
        width: 2.6rem;
        height: 2.6rem;
        fill: $accent2-color;
        display: block;
        transition: fill 250ms ease-in-out;
    }
}

.item-card:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.item-card:hover .item-card__image-wrapper {
    transform: translate(-1rem, -1rem);
    box-shadow: 1rem 1rem $second-color;
}

.item-card:hover .overlay__list-link {
    opacity: 1;
}

.overlay__list-link:hover {
    background-color: $accent2-color;
}

.overlay__list-link:hover .overlay__icon--hover {
    fill: #fff;
}