@import '_fonts';
@import '_minireset';

$main-font: 'Montserrat',
sans-serif;
$second-font: 'Roboto',
sans-serif;
$script-font: 'KaushanScript',
sans-serif;
$accent-color: #fce38a;
$accent2-color: #f38181;
$h-color: #333;
$text-color: #999;
$second-color: #95e1d3;
$background-bottom: rgba(252, 227, 138, 0.9);
$background-top: rgba(243, 129, 129, 0.9);

@mixin gradient($direction, $top, $bottom) {
    background-image: linear-gradient($direction, $top 0%, $bottom 100%)
}

@mixin font($fontfamily, $fontsize, $fontweight) {
    font-family: $fontfamily;
    font-size: $fontsize;
    font-weight: $fontweight;
}

%plain-text {
    @include font($second-font, 1.5rem, 400);
    color: $text-color;
    line-height: 1.6;
}

:root {
    font-size: 62.5%;
}

body {
    @include font($main-font, 1.4rem, 400);
    color: $h-color;
    line-height: 1.2;
    background-color: #fff;
}

.container {
    max-width: 123rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    // border: 1px solid red;
}

@import '_header';

.title {
    color: $h-color;
    @include font($main-font, 3rem, 700);
    text-transform: uppercase;
    text-align: center;

    &::after {
        content: '';
        display: block;
        margin: 3.4rem auto 6.4rem auto;
        width: 6rem;
        height: 0.3rem;
        background-color: $accent2-color;
    }
}

.title-line1 {
    @include font($script-font, 2.4rem, 400);
    text-transform: none;
    display: block;
    margin-bottom: 1.3rem;
}

@import '_services';
@import '_team';
@import '_footer';
@import '_media';