@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat.otf") format("opentype"), url("../fonts/Montserrat.svg") format("svg"), url("../fonts/Montserrat.ttf") format("truetype"), url("../fonts/Montserrat.woff") format("woff"), url("../fonts/Montserrat.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserratbold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserratbold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratbold.otf") format("opentype"), url("../fonts/montserratbold.svg") format("svg"), url("../fonts/montserratbold.ttf") format("truetype"), url("../fonts/montserratbold.woff") format("woff"), url("../fonts/montserratbold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KaushanScript';
  src: url("../fonts/KaushanScript.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/KaushanScript.eot?#iefix") format("embedded-opentype"), url("../fonts/KaushanScript.otf") format("opentype"), url("../fonts/KaushanScript.svg") format("svg"), url("../fonts/KaushanScript.ttf") format("truetype"), url("../fonts/KaushanScript.woff") format("woff"), url("../fonts/KaushanScript.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic.otf") format("opentype"), url("../fonts/Roboto-LightItalic.svg") format("svg"), url("../fonts/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.otf") format("opentype"), url("../fonts/Roboto-Regular.svg") format("svg"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  /* https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: 0;
}

.item-about__text, .team__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
  background-color: #fff;
}

.container {
  max-width: 123rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.header {
  color: #fff;
  background-image: url(../images/bcg/background-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.header a {
  color: #fff;
}

.header__overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  background-image: -o-linear-gradient(top, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
}

.header__container {
  padding-top: 2.4rem;
  min-height: 100rem;
  text-align: center;
  position: relative;
}

.nav__burger {
  display: none;
}

.nav-wrapper {
  margin-bottom: 16.6rem;
}

.navigation {
  position: relative;
  z-index: 2;
}

.navigation .nav__plate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-transform: uppercase;
}

.navigation__list-item {
  margin-right: 5.8rem;
}

.navigation__list-item:last-child {
  margin-right: 0;
}

.navigation__list-link {
  padding: 1.2rem 0;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  position: relative;
}

.navigation__list-link::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 0.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fce38a;
  visibility: hidden;
  -webkit-transition: width 250ms ease-in-out, visibility 250ms ease-in-out;
  -o-transition: width 250ms ease-in-out, visibility 250ms ease-in-out;
  transition: width 250ms ease-in-out, visibility 250ms ease-in-out;
}

.navigation__list-link:hover::after {
  width: 100%;
  visibility: visible;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  -webkit-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.logo:hover,
.logo:focus {
  color: #fce38a;
}

.nav-list-wrapper {
  max-width: 62rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-buttons__list {
  max-width: 7.8rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-button {
  background-color: transparent;
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
}

.navigation-button .nav-icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #fff;
  display: block;
  -webkit-transition: fill 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: fill 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -o-transition: fill 250ms ease-in-out, transform 250ms ease-in-out;
  transition: fill 250ms ease-in-out, transform 250ms ease-in-out;
  transition: fill 250ms ease-in-out, transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.navigation-button .nav-icon:hover {
  fill: #fce38a;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.main-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 15rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  max-width: 80rem;
  margin: 0 auto 9.4rem auto;
  line-height: 1;
}

.main-heading span {
  font-family: "KaushanScript", sans-serif;
  font-size: 7.2rem;
  font-weight: 400;
  display: block;
  text-transform: capitalize;
  margin-bottom: 3.7rem;
}

.main-link {
  display: inline-block;
  border: 3px solid #ffffff;
  padding: 1rem 2.9rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.navigation__list-link--hover:hover,
.navigation__list-link--hover:focus {
  color: #fce38a;
}

.header-container__main-link--hover:hover,
.header-container__main-link--hover:focus {
  color: #fce38a;
  border-color: #fce38a;
}

.title {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.title::after {
  content: '';
  display: block;
  margin: 3.4rem auto 6.4rem auto;
  width: 6rem;
  height: 0.3rem;
  background-color: #f38181;
}

.title-line1 {
  font-family: "KaushanScript", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 1.3rem;
}

.services__container {
  padding: 4.6rem 1.9rem;
}

.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 36rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 36rem));
  gap: 9.6rem 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-about {
  position: relative;
  padding-left: 8rem;
}

.item-about:nth-child(n)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 2rem;
  display: block;
  width: 3.2rem;
  height: 3.2rem;
}

.item-about:nth-child(1)::before {
  background: url(../images/icons/services/alarm-min.svg) center no-repeat;
}

.item-about:nth-child(2)::before {
  background: url(../images/icons/services/graph-min.svg) center no-repeat;
}

.item-about:nth-child(3)::before {
  background: url(../images/icons/services/PC-min.svg) center no-repeat;
}

.item-about:nth-child(4)::before {
  background: url(../images/icons/services/book-min.svg) center no-repeat;
}

.item-about:nth-child(5)::before {
  background: url(../images/icons/services/home-min.svg) center no-repeat;
}

.item-about:nth-child(6)::before {
  background: url(../images/icons/services/image-min.svg) center no-repeat;
}

.item-about__title {
  text-transform: uppercase;
  margin-bottom: 1.1rem;
}

.item-about__text {
  max-width: 28rem;
}

.team__container {
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.team__title::after {
  margin: 3.6rem auto 3.8rem auto;
}

.team__text {
  max-width: 95.4rem;
  text-align: center;
  margin: 0 auto 9rem auto;
}

.team__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 38rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 38rem));
  gap: 6rem 2.3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-card__image-wrapper {
  margin-bottom: 2.6rem;
  position: relative;
  -webkit-box-shadow: 0 0 #95e1d3;
          box-shadow: 0 0 #95e1d3;
  -webkit-transition: -webkit-transform 200ms linear, -webkit-box-shadow 200ms linear;
  transition: -webkit-transform 200ms linear, -webkit-box-shadow 200ms linear;
  -o-transition: transform 200ms linear, box-shadow 200ms linear;
  transition: transform 200ms linear, box-shadow 200ms linear;
  transition: transform 200ms linear, box-shadow 200ms linear, -webkit-transform 200ms linear, -webkit-box-shadow 200ms linear;
}

.item-card__title {
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 0.8rem;
}

.item-card__text {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  background-image: -o-linear-gradient(top, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  -webkit-transition: visibility 200ms linear, opacity 200ms linear;
  -o-transition: visibility 200ms linear, opacity 200ms linear;
  transition: visibility 200ms linear, opacity 200ms linear;
}

.overlay__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay__list-link {
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0;
  background: #fce38a center no-repeat;
  -webkit-transition: background-color 200ms linear, opacity 200ms linear;
  -o-transition: background-color 200ms linear, opacity 200ms linear;
  transition: background-color 200ms linear, opacity 200ms linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .social-icon {
  width: 2.6rem;
  height: 2.6rem;
  fill: #f38181;
  display: block;
  -webkit-transition: fill 250ms ease-in-out;
  -o-transition: fill 250ms ease-in-out;
  transition: fill 250ms ease-in-out;
}

.item-card:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.item-card:hover .item-card__image-wrapper {
  -webkit-transform: translate(-1rem, -1rem);
      -ms-transform: translate(-1rem, -1rem);
          transform: translate(-1rem, -1rem);
  -webkit-box-shadow: 1rem 1rem #95e1d3;
          box-shadow: 1rem 1rem #95e1d3;
}

.item-card:hover .overlay__list-link {
  opacity: 1;
}

.overlay__list-link:hover {
  background-color: #f38181;
}

.overlay__list-link:hover .overlay__icon--hover {
  fill: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.4rem;
  border-top: 1px solid #e5e5e5;
}

.footer__link {
  color: #f38181;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input__email {
  width: 23rem;
  height: 4.2rem;
  border: 1px solid #e7e7e7;
  border-right: none;
  border-radius: 0;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  outline: none;
  padding-left: 1.2rem;
}

.input__email::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 4.2rem;
}

.input__email:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 4.2rem;
}

.input__email::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 4.2rem;
}

.input__email::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 4.2rem;
}

.input__email:focus::-webkit-input-placeholder {
  text-indent: 50rem;
  -webkit-transition: text-indent 500ms ease-in-out;
  -o-transition: text-indent 500ms ease-in-out;
  transition: text-indent 500ms ease-in-out;
}

.input__email:focus:-ms-input-placeholder {
  text-indent: 50rem;
  -webkit-transition: text-indent 500ms ease-in-out;
  -o-transition: text-indent 500ms ease-in-out;
  transition: text-indent 500ms ease-in-out;
}

.input__email:focus::-ms-input-placeholder {
  text-indent: 50rem;
  -webkit-transition: text-indent 500ms ease-in-out;
  -o-transition: text-indent 500ms ease-in-out;
  transition: text-indent 500ms ease-in-out;
}

.input__email:focus::placeholder {
  text-indent: 50rem;
  -webkit-transition: text-indent 500ms ease-in-out;
  -o-transition: text-indent 500ms ease-in-out;
  transition: text-indent 500ms ease-in-out;
}

.input__submit {
  padding: 0 3.2rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #95e1d3;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 75em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 75em) and (-o-min-device-pixel-ratio: 2/1), (min-width: 75em) and (min-resolution: 192dpi) {
  .header {
    background-image: url(../images/bcg/background@2x.jpg);
  }
}

@media (max-width: 61.94em) {
  .container {
    max-width: 96rem;
  }
  .nav-wrapper {
    margin-bottom: 14rem;
    max-width: 96rem;
  }
  .nav-list-wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 1.6rem;
  }
  .navigation__list {
    margin-right: 3rem;
  }
  .navigation__list-item {
    margin-right: 3rem;
  }
  .navigation-buttons__list {
    max-width: 6.8rem;
  }
  .main-heading {
    font-size: 12rem;
    max-width: 70rem;
  }
  .services__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .services__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 8rem 2rem;
  }
  .team__text {
    max-width: 80%;
  }
}

@media (max-width: 47.94em) {
  .header__container {
    padding: 0;
  }
  .nav-wrapper {
    margin-bottom: 0;
    padding-bottom: 14rem;
  }
  .navigation {
    position: fixed;
    width: 100%;
  }
  .navigation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.5rem;
    background-color: #f38181;
    z-index: 2;
  }
  .navigation .nav__plate {
    padding: 1.3rem 1.5rem 0 1.5rem;
  }
  .logo {
    position: relative;
    z-index: 3;
  }
  .nav__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .nav__burger:hover {
    cursor: pointer;
  }
  .burger__line {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav__burger::before,
  .nav__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav__burger::before {
    top: 0;
  }
  .nav__burger::after {
    bottom: 0;
  }
  .nav__burger.active .burger__line {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .nav__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .nav__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .nav-list-wrapper {
    position: fixed;
    top: -100%;
    left: 0;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e6ae64;
    padding: 9rem 1.5rem 2rem 1.5rem;
    display: block;
  }
  .nav-list-wrapper.active {
    top: 0;
  }
  .navigation__list {
    display: block;
    text-align: center;
    margin-right: 0;
  }
  .navigation__list-item {
    margin: 0 0 3rem 0;
    font-size: 2rem;
  }
  .navigation-buttons__list {
    display: block;
    max-width: 100%;
  }
  .navigation-buttons__list-item {
    margin-bottom: 3rem;
  }
  .navigation-button,
  .navigation-button .nav-icon {
    width: 3rem;
    height: 3rem;
  }
}
