@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat.otf") format("opentype"), url("../fonts/Montserrat.svg") format("svg"), url("../fonts/Montserrat.ttf") format("truetype"), url("../fonts/Montserrat.woff") format("woff"), url("../fonts/Montserrat.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserratbold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserratbold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratbold.otf") format("opentype"), url("../fonts/montserratbold.svg") format("svg"), url("../fonts/montserratbold.ttf") format("truetype"), url("../fonts/montserratbold.woff") format("woff"), url("../fonts/montserratbold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KaushanScript';
  src: url("../fonts/KaushanScript.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/KaushanScript.eot?#iefix") format("embedded-opentype"), url("../fonts/KaushanScript.otf") format("opentype"), url("../fonts/KaushanScript.svg") format("svg"), url("../fonts/KaushanScript.ttf") format("truetype"), url("../fonts/KaushanScript.woff") format("woff"), url("../fonts/KaushanScript.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic.otf") format("opentype"), url("../fonts/Roboto-LightItalic.svg") format("svg"), url("../fonts/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.otf") format("opentype"), url("../fonts/Roboto-Regular.svg") format("svg"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  /* https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
  background-color: #fff;
}

.container {
  max-width: 123rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  border: 1px solid red;
}

.header {
  color: #fff;
  background-image: url(./images/bcg/background-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.header a {
  color: #fff;
}

.header__overlay {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  background-image: -o-linear-gradient(top, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
}

.header__container {
  padding-top: 2.4rem;
  min-height: 100rem;
}

.nav-wrapper {
  margin-bottom: 19.6rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 80%;
  text-transform: uppercase;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.nav-list-wrapper {
  max-width: 62rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-button .nav-icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #fff;
}
